html, body
{
    background: #777777;
    height: 100%;
    margin: 0;
    padding: 0;
}

.chat {
    padding-top: 30px;
    height: 100%;
    overflow: hidden;
}

#chat-main-page {
    height: auto;
    min-height: 100%;
}

#messages, #online-users {
    height: 85%;
    margin: 0 !important;
}

#panel-messages, #panel-users {
    height: 95%;
}

.text-bold {
    font-weight: bold;
}

.date {
    margin-right:4px;
    font-style: italic;
}

#messages-box {
    height:95%;
    overflow: scroll;
    word-wrap:break-word;
}

.custom-select {
    display: inline-block;
    max-width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.25;
    color: #464a4c;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: auto auto;
    -webkit-background-size: 8px 10px;
    background-size: 8px 10px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.padding-bottom-small {
    padding-bottom:5px;
}

.margin-top-minus {
    margin-top: -20px;
}

.hidden-div {
    background: linear-gradient(to bottom, #6DB3F2 0%, #54A3EE 45%, #3690F0 50%, #1E69DE 100%) repeat scroll 0% 0% ;
    border: 1px solid #423c2c;
    border-radius: 5px;
    color: white;
    display: none;
    position: absolute;
    z-index: 1000;
    opacity:0.9;
    box-sizing: border-box;
    padding: 5px;
}

.kursor {
    cursor: pointer;
}

#emoticons {
    position: relative;
}


.message-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding-left:5px;
}

.administrator {
    color:red;
}

.moderator {
    color:green;
}

.user {
    color: blue;
}