{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block content %}
    <div class="row chat">
        <div class="col-xs-7 col-md-9">
            tu będą wiadomości<br />
            {%  for message in messages %}
                {{ message.text }}
                <br />
            {% endfor %}
        </div>
        <div class="col-xs-5 col-md-3">
            Tu będą gracze online<br />
            {%  for user in usersOnline %}
                {{ user.userName }}
                <br />
            {% endfor %}
        </div>
    </div>

{% endblock %}
